# Python
build/
dist/
__pycache__/
*.py[cod]
.venv/
myenv/
.env
.mypy_cache/
.pytest_cache/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# --- Node.js ---
**/node_modules/
**/dist/
**/src/client/

**/bundle-report.html

